@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background: #bbc6fa;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-box {
    background: #fff;
    width: 700px;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.quote-box h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h2::after {
    content: '';
    width: 85px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.quote-box blockquote::before , blockquote::after {
    content: '"';
}

.quote-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.quote-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quote-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.quote-box button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 3px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 600;
}

.quote-box button:hover {
    scale: 1.03;
}

.quote-box button:nth-child(2) {
    background: #fff;
    color: rgb(23, 124, 229);
}